<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopHub</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style.css">
</head>
<body ng-app="myapp" ng-controller="ctrl" >
    
<!-- header section starts  -->

<header class="header" style="text-align: center;">
    <a href="../index.html" class="logo"> <i class="fas fa-archive"></i> ShopHub </a>    
</header>
<section class="form" id="form">
<div class="content" style="margin: 5%;">
    <div class="box-container" style="padding: 30%;">
        <div class="box" style="text-align: center;">
            <a href="/index.html" class="logo"  style="font-size: 2.5rem;
            font-weight: bolder;color: #130f40;"> <i class="fas fa-archive" style="color: green;" ></i></a>
            <h1 style="margin-top: 4%;font-size: 3.3rem;color: #130f40;"><span >Register</span></h1>
            <div class="box-content">
                <form name="myForm" ng-submit="submit()" style="font-size: 2rem;">
                    <p>Enter email :</p>
                    <input ng-model="email" type="email" name="email"  id="email" required>
                    <p>Enter password :</p>
                    <input ng-model="password" type="password" name="password" id="password" required>
                    <br><br>
                    <small style="color: aqua;cursor: pointer;"><a href="./register.html">Dont have an account ?</a></small><br>
                    <input class="btn" type="submit" value="Login"><br>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
<script>

    var app = angular.module('myapp', []);
    app.controller('ctrl', function($scope) {
     $scope.submit=function(){
        fetch("http://127.0.0.1:5000/login", {
     method: "POST",
     body: JSON.stringify({
        "email":String(myForm.email.value),
         "password":String(myForm.password.value),
     }),
     headers: {
         "Content-type": "application/json; charset=UTF-8"
     }
 })
 .then(response => response.json())
 .then(json => {
    console.log(json);
    if(json.success)
    {
        alert('User login successfully');
        location.replace("http://127.0.0.1:5500/frontend/index.html#!/");
    }else{
        alert('User login unsuccessful!!!');
    }
});
}
});


</script>

</body>
</html>